{namespace t=TYPO3\Neos\ViewHelpers}
<t:contentElement node="{node}" reloadable="TRUE">
	<t:contentElement.notEditable>
		<ul class="t3-content-navigation">
			<f:render section="itemsList" arguments="{items: items}" />
		</ul>
	</t:contentElement.notEditable>
</t:contentElement>

<f:section name="itemsList">
		<f:for each="{items}" as="item">
			<li class="{item.state}">
				<t:link.node node="{item.node}">
					{item.label}
				</t:link.node>
				<f:if condition="{item.subItems}">
					<ul>
						<f:render section="itemsList" arguments="{items: item.subItems}" />
					</ul>
				</f:if>
			</li>
		</f:for>
</f:section>
